@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    margin: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px;
}
.container h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 3rem;
}
.description{
    width: 70%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-size: 1.3rem;
}
.box{
    /* border: 1px solid blue; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 70px;
    background-color: white;
}
.expire{
    background-color: gray !important;
}
.heading{
    margin-bottom: 20px;
    font-size: 2rem;
}
.sub-heading{
    margin-bottom: 20px;
    font-weight: bold;
}
li{
    line-height: 1.2;
    font-size: 1.1rem;
}
.btn{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin: 60px 20px;
}
.btn:hover{
    background-color: rgb(17, 17, 17);
}
.modules{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 40px;
    margin: 20px;
}
.notice{
    border: 2px solid rgb(95, 216, 58);
    background-color: rgb(186, 240, 186);
    padding: 15px;
    line-height: 1.4;
    margin: 10px;
}
@media screen and (max-width:768px) {
    .modules{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:425px) {
    .box{
        padding: 20px;
    }
    .container{
        margin: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px;
    }
    .container h1{
        text-align: center;
        margin-bottom: 30px;
        font-size: 2.5rem;
    }
    .description{
        width: 95%;
        margin: 0 auto;
        padding-bottom: 40px;
        font-size: 1rem;
    }
    .box ul li{
        margin-left: 10px;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.result{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.inner-table {
    width: 100%;
}

.inner-table th, .inner-table td {
    padding: 8px 10px;
}
.Assigment{
    background-color: white;
    margin: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
}
.Assigment h4{
    margin-bottom: 10px;
}
.Assigment p{
    margin-bottom: 20px;
}

#upload-form{
    margin-top: 20px;
    padding: 10px;
}

.button{
    background-color: black;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
#upload-form input{
    background-color: rgb(212, 212, 212);
    padding: 5px;
    margin-bottom: 4px;
}
#confirmation-message {
    display: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    
}